<!DOCTYPE html>
<html>
<head>
    <title>欢迎光临</title>

    <added by rolinston-->
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" href="/static/css/normalize.css" />
    <link rel="stylesheet" media="screen" href="/static/css/style.css" />
    <script src="/static/js/countdown.js"></script>
    <added by rolinston-->

</head>
<body>
欢迎光临Cindy的收纳窗
<table border="1">
<tr>
<td>{{'NAME'}}</td>
<td>{{'MODEL'}}</td>
<td>{{'CATEGORY'}}</td>
<td>{{'LOCATION'}}</td>
<td>{{'TIME OF PURCHASE'}}</td>
<td>{{'PLACE OF PURCHASE'}}</td>
</tr>
{% for line in obj %}
<tr>
<td>{{line.name}}</td>
<td>{{line.type}}</td>
<td>{{line.category}}</td>
<td>{{line.location}}</td>
<td>{{line.buy_date}}</td>
<td>{{line.buy_address}}</td>
</tr>
{% endfor %}
</table>

<added by rolinston-->
<div class="bg-gradient"></div>
<div class="container">
  <h1>距离2016年7月1日还有</h1>
  <div id="CDT"></div>
  <footer>
    <p>
     加油 ~
    </p>
  </footer>
</div>
<added by rolinston-->

</body>
</html>

